@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.9859 0.0084 145.5113);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.7303 0.1944 147.4439);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9142 0.0616 150.7831);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9361 0.0425 145.226);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.7536 0.1626 130.5022);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8717 0.0093 258.3382);
  --input: oklch(0.8717 0.0093 258.3382);
  --ring: oklch(0.7303 0.1944 147.4439);
  --chart-1: oklch(0.7303 0.1944 147.4439);
  --chart-2: oklch(0.7459 0.1812 152.3266);
  --chart-3: oklch(0.7115 0.131 174.1956);
  --chart-4: oklch(0.6318 0.1156 174.5181);
  --chart-5: oklch(0.609 0.1175 169.2856);
  --sidebar: oklch(0.9361 0.0425 145.226);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.7303 0.1944 147.4439);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7536 0.1626 130.5022);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.8717 0.0093 258.3382);
  --sidebar-ring: oklch(0.7303 0.1944 147.4439);
  --font-sans: Geist, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.875rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.2303 0.0125 264.2926);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.3226 0.0127 252.9922);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.3226 0.0127 252.9922);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.7303 0.1944 147.4439);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3226 0.0127 252.9922);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.3226 0.0127 252.9922);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.7459 0.1812 152.3266);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.7303 0.1944 147.4439);
  --chart-1: oklch(0.5782 0.1372 144.2082);
  --chart-2: oklch(0.7303 0.1944 147.4439);
  --chart-3: oklch(0.7459 0.1812 152.3266);
  --chart-4: oklch(0.7115 0.131 174.1956);
  --chart-5: oklch(0.6318 0.1156 174.5181);
  --sidebar: oklch(0.2303 0.0125 264.2926);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.7303 0.1944 147.4439);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7459 0.1812 152.3266);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.7303 0.1944 147.4439);
  --font-sans: Geist, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.875rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
